body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Anek Telugu', sans-serif;
  background-color: #473a3b;
}
.productos{
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.logoimagen{
  width: 86px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  margin: 10px;
  align-items: center;
}
.titulo{
  color: #473a3b;
  margin-left: 20px;
  font-size: 30px;
}
.navbar ul{
  display: flex;
  list-style-type: none;
  gap: 25px;
  margin-right: 20px;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
.navbar ul li a{
  text-decoration: none;
  color: #473a3b;
  font-size: 20px;
}
.textos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.titulo__principal{
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.titulo__secundario{
  display: flex;
  justify-content: center;
  margin: 0%;
}
.parrafo{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0%;
}
.footer{
  color: white;
  text-align: end;
}
.counter{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botones{
  border: 0px;
  border-radius: 5px;
  background-color: white;
  color: #473a3b;
  align-items: center;
}
.coun{
  color: white;
  padding: 10px;
  font-size: 25px;
}
.agregar{
  border: 0px;
  border-radius: 5px;
  background-color: white;
  color: #473a3b;
}
.conjunto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}
.chocolate{
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.chocolateimg{
  width: 200px;
  border-radius: 20px;
}
